html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Kavivanar', cursive;
    font-weight: normal;
}
h2 {
    font-size: 2rem;
    color: #A51F10;
    margin: 0;
}
a {
    color: #DA0090;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.posted {
    font-size: 0.8rem;
    color: #89A611;
}
.wrapper {
  border: 5px solid red;
}
header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.leftheader {
  flex-basis: 50%;
  text-align: right;
}
.rightheader {
  flex-basis: 50%;
  margin-top: 1.5rem;
  margin-left: 1rem;
}
.rightheader h1 {
  color: #DA0090;
  font-size: 3rem;
}
.rightheader p {
  margin-top: -2.5  rem;
}
nav {
  border-top: 1px solid #DA0090;
  border-bottom: 1px solid #DA0090;
}
nav ul {
  list-style-type: none;
  margin: 0rem;
  padding: 0rem;
  text-align: center;
}
nav li {
  display: inline-block;
}
nav a {
  text-decoration: none;
  color: #73352e;
  display: block;
  padding: 0.5rem 1rem;
}
nav a:hover {
  background-color: black;
  color: #84de37;
  text-decoration: none;
}
article {

  margin: 1rem 0;
}
article img {
  float: left;
  margin: 1rem 1rem 1rem 1rem;
  border-radius: 1rem;
}
article::after {
  content: "";
  display: table;
  clear: both;
}
.articulos {
  margin: 2rem;
}
footer {
    list-style-type: none;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 2rem;
}
footer ul {
  list-style-type: none;
}
footer li {
  display: inline-block;
}