/* my first CSS */

body {
    font-family: 'Fira Code', consolas, sans-serif;
    background: #CADFE4 url(http://place-puppy.com/200x200) no-repeat left top;
    height: 300px;
}

img {
    border: 8px solid green;
}

h1 {
    border: 5px dotted red
}

h2, h3 {
    color: #EB8787;
    border: 5px dashed red;
}
p {
    font-style: italic;
    color: #EB8787;
}
EB8787

/* Color Theme Swatches in Hex 
.color-theme_WhatsApp-Image-2020-08-12-at-08-1-hex { color: #CADFE4; }
.color-theme_WhatsApp-Image-2020-08-12-at-08-2-hex { color: #BED3C4; }
.color-theme_WhatsApp-Image-2020-08-12-at-08-3-hex { color: #FFD09C; }
.color-theme_WhatsApp-Image-2020-08-12-at-08-4-hex { color: #FDB29B; }
.color-theme_WhatsApp-Image-2020-08-12-at-08-5-hex { color: #EB8787; }
*/

blockquote {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 5rem;
    font-style: italic;
    text-align: center;
    background: lightblue url(http://place-puppy.com/150x150) left top;
}
cite {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
.warning {
    color: darkviolet;
    font-weight: bolder;
    font-family: 'Fira Code';
    font-size: 1.5rem;
    font-style: italic;
}
.bigbold{
    font-weight: bold;
    font-size: 1.3rem;
    background-color: skyblue;
}
ul a:link {
  font-weight: bold;
  text-decoration: none;
  color: blue;
}
a:visited {
  font-weight: normal;
  color: green;
  font-size: 3rem;
}
a:hover {
  font-size: 1.2rem;
  color: darkgreen;
  text-decoration: underline;
  background-color: lightseagreen;
}
a.harvard:link {
  color: maroon;
}
a.harvard:visited {
  color: maroon;
}





